h1 {
  color: antiquewhite;
}

h2 {
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline;

}

a:link { 
    text-decoration: none; 
    color: antiquewhite;
    font-weight:bold;

} 
a:hover { 
    text-decoration: none; 
    color: antiquewhite;
    font-weight:bold;

} 

